/*
set default text color and text family globally
*/
.global_default_styles{
  color: #747704;
  font-family: "Lato", sans-serif;
}

/* Individual styles for each row */

.container_row_styles{
  margin-left: auto;
  margin-right: auto;
}

/*
create border above banner image
*/

.banner_border{
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #bcbbbb;
}

/*
create padding above banner image
*/
.banner_padding{
  padding-top: 25px;
}
